body {
    background-color: gray;
}

header {
    background-color: blue;
    text-align: center;

}

#left {
    background-color: red;

}

main {
    background-color: green;
    
}

#right {
    background-color: red;
}

footer {
    background-color: blue;
}